.item-list {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.item-list img {
    height: 350px;
    margin: 3px;
    border-radius: 4px;
}

